.rTable {
    display: table;
    width: 100%;
}
.rTableRow {
    display: table-row;
   }
.rTableHeading {
    display: table-header-group;
    background-color: pink;
}
.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    color: rgb(0, 0, 0);
}
.rTableHeading {
    display: table-header-group;
    background-color: pink;
    font-weight: bold;
}
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.rTableBody {
    display: table-row-group;
}
.color{
    background-color: rgb(255, 235, 15);
}
.showPadding{
    padding:0.6em;
}
.emailInput{
width: 80%;
}
hr{
    border-top: 2px solid #111111 !important;
}
.wrapper:before,.wrapper:after{
    content:" ";
    width: 40%;
    height: 2px;
    margin: 0 10px;
    vertical-align: super;
    background-color:rgb(208, 197, 238);
    display:inline-block;
  }
  .m-t-10{
      margin-top:10px;
  }
  .form-group.required .control-label:after { 
    content:"*";
    color:red;
 }
 .d-none{
     display: none;
 }
 .redText{
     color: red;
 }
 .gap   {
    margin-right:1em;
    margin-bottom: 1em;
 }
 #reg_cap{
     font-size: 30px;
     font-family: 'Franklin Gothic Medium';
 }